@import "./variables";
@import "./mixins";

$chat-header-height: 60px;

.elixirchat-chat-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: $color-white;
  border-radius: $iframe-border-radius;
}

.elixirchat-chat-header {
  height: $chat-header-height;
  box-sizing: border-box;
  padding: 22px 72px 0 44px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border-radius: $iframe-border-radius $iframe-border-radius 0 0;
}

.elixirchat-chat-header__title {
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.elixirchat-chat-header__indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: $color-green;
  vertical-align: middle;
  margin-left: 7px;
}

.elixirchat-chat-header__indicator--offline {
  background: $color-pink;
}

.elixirchat-chat-header__button {
  height: $chat-header-height;
  color: darken($color-gray-light, 10);
  position: absolute;
  top: 1px;
  background: none;
  cursor: pointer;
  padding: 0 18px;
  border: 0;
  transition: opacity 200ms;
  display: flex;
  align-items: center;
  font-size: 13px;

  &:hover {
    color: $color-gray-dark;
  }
}

.elixirchat-chat-header__back {
  @extend .elixirchat-chat-header__button;
  left: 0;
  padding-right: 15px;
  font-size: 17px;
}

.elixirchat-chat-header__close {
  @extend .elixirchat-chat-header__button;
  right: 3px;
  padding-left: 8px;
}

.elixirchat-chat-header__mute {
  @extend .elixirchat-chat-header__button;
  right: 43px;
  padding-right: 8px;
}

.elixirchat-chat-header__mute-tooltip {
  bottom: auto;
  top: 100%;
  margin-bottom: 0;
  margin-top: -9px;
  font-size: 14px;
  color: $color-white;

  &:after {
    bottom: auto;
    top: -4px;
    transform: scaleY(-1);
    margin-right: 14px;
  }
}
