@import "./variables";
@import "./mixins";

$chat-header-height: 53px;

body {
  margin: 0;
  padding: 0;
}

body,
input,
button,
textarea {
  font: 14px/18px $font-family-text;
  outline: none;
  color: $color-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.m-pointer {
  cursor: pointer;
}

.m-nw {
  white-space: nowrap;
}

.elixirchat-chat-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.elixirchat-chat-header {
  margin: 0;
  font-size: 16px;
  height: $chat-header-height;
  box-sizing: border-box;
  box-shadow: 0 1px 0 rgba($color-black, .15);
  padding: 19px 72px 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border-radius: 8px 8px 0 0;
  background: $color-white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.elixirchat-chat-header__indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: $color-green;
  vertical-align: middle;
  margin-right: 8px;
  margin-top: -2px;
}

.elixirchat-chat-header__close {
  height: $chat-header-height;
  border: 0;
  opacity: .25;
  position: absolute;
  top: 1px;
  right: 0;
  transition: opacity 200ms;
  display: flex;
  align-items: center;
  font-size: 15px;
  background: none;
  cursor: pointer;
  padding: 0 18px 0 7px;

  &:hover {
    opacity: .4;
  }
}

.elixirchat-chat-header__mute {
  background: none;
  border: none;
  position: absolute;
  height: $chat-header-height;
  padding: 0 8px 0 18px;
  top: 1px;
  right: 40px;
  transition: opacity 200ms;
  display: flex;
  align-items: center;
  font-size: 15px;
  opacity: .27;
  cursor: pointer;

  &:hover {
    opacity: .4;
  }
}
