@import "./variables";

$color-textarea-bg: #FFF;

.elixirchat-chat-textarea {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: $color-textarea-bg;
  box-shadow: 0 -1px 0 rgba($color-black, .13);
  border-radius: 0 0 $iframe-border-radius $iframe-border-radius;
}

.elixirchat-chat-textarea__reply-to {
  color: $color-blue;
  margin: 18px 0 -8px 30px;
  position: relative;
  z-index: 1;
  background: $color-textarea-bg;
  box-shadow: -2px 10px 3px $color-textarea-bg;
}

.elixirchat-chat-textarea__reply-to-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 140px);
  vertical-align: middle;
}

.elixirchat-chat-textarea__reply-to-icon {
  margin-right: 5px;
  vertical-align: text-top;
  transform: translateY(-1px);
  display: inline-block;
}

.elixirchat-chat-textarea__reply-to-remove {
  vertical-align: middle;
  padding: 6px;
  font-size: 11px;
  line-height: 6px;
  transition: opacity 200ms;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }
}

.elixirchat-chat-textarea__actions {
  position: absolute;
  right: 12px;
  bottom: 11px;
  z-index: 2;
  transition: transform 200ms;
}

.elixirchat-chat-textarea__actions-button {
  position: relative;
  margin-left: 10px;
  display: inline-block;
}

.elixirchat-chat-textarea__actions-tooltip {
  &:after {
    margin-right: 14px;
  }
}

.elixirchat-chat-textarea__actions-screenshot,
.elixirchat-chat-textarea__actions-attach {
  width: 38px;
  height: 32px;
  background: transparent;
  border: 1px solid darken($color-gray-light, 5);
  border-radius: 7px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  overflow: hidden;
  transition: background-color 200ms;
  color: rgba($color-black, .25);

  &:hover {
    background-color: lighten($color-gray-light, 5);
  }
}

.elixirchat-chat-textarea__actions-screenshot {
  padding-top: 1px;

  .elixirchat-browser--safari & {
    padding-top: 3px;
  }
}

.elixirchat-chat-textarea__actions-attach-input {
  position: absolute;
  z-index: 1;
  opacity: 0;
}

.elixirchat-chat-textarea__actions-attach-label {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 8px;
  text-align: center;
  font-size: 15px;
}

.elixirchat-chat-textarea__textarea {
  border: 0;
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 17px 0 0 30px;
  margin-bottom: 17px;
  resize: none;
  width: calc(100% - 120px);
  background: transparent;
}

.elixirchat-chat-attachment-list {
  padding: 0;
  margin: -2px 0 15px 30px;
  list-style: none;
  line-height: 22px;
  color: $color-blue;
}

.elixirchat-chat-attachment-item {
  margin: 0;
  white-space: nowrap;
}

.elixirchat-chat-attachment-icon {
  margin-right: 8px;
  vertical-align: middle;

  &.icon-screenshot {
    font-size: 12px;
    display: inline-block;
    margin-top: -3px;
  }
}

.elixirchat-chat-attachment-filename {
  max-width: calc(100% - 165px);
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.elixirchat-chat-attachment-remove {
  font-size: 11px;
  margin-left: 1px;
  vertical-align: middle;
  padding: 6px;
  transition: opacity 200ms;
  outline: none;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }
}

.elixirchat-chat-draggable-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  opacity: .2;
}

.elixirchat-chat-draggable-area {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: lighten($color-gray-dark, 10);
  font-size: 15px;
  line-height: 21px;
  border-radius: $iframe-border-radius;
}

.elixirchat-chat-draggable-area__icon {
  font-size: 16px;
  margin-bottom: 11px;
}
