@import "./variables";
@import "./mixins";

$chat-header-height: 53px;
$chat-typing-block-height: 25px;
$chat-typing-block-animation-duration: 500ms;

body {
  margin: 0;
  padding: 0;
}

body,
input,
button,
textarea {
  font: 14px/18px $font-family-text;
  outline: none;
  color: $color-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.elixirchat-chat-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.elixirchat-chat-header {
  margin: 0;
  font-size: 16px;
  height: $chat-header-height;
  box-sizing: border-box;
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
  padding: 19px 72px 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border-radius: 8px 8px 0 0;
  background: $color-white;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.elixirchat-chat-header__indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: $color-green;
  vertical-align: middle;
  margin-right: 8px;
  margin-top: -2px;
}

.elixirchat-chat-header__close {
  height: $chat-header-height;
  border: 0;
  opacity: .25;
  position: absolute;
  top: 1px;
  right: 0;
  transition: opacity 200ms;
  display: flex;
  align-items: center;
  font-size: 15px;
  background: none;
  cursor: pointer;
  padding: 0 18px 0 7px;

  &:hover {
    opacity: .4;
  }

  [class^=icon] {
    -webkit-font-smoothing: initial;
  }
}

.elixirchat-chat-header__mute {
  background: none;
  border: none;
  position: absolute;
  height: $chat-header-height;
  padding: 0 8px 0 18px;
  top: 1px;
  right: 40px;
  transition: opacity 200ms;
  display: flex;
  align-items: center;
  font-size: 15px;
  opacity: .27;
  cursor: pointer;

  &:hover {
    opacity: .4;
  }

  [class^=icon] {
    -webkit-font-smoothing: initial;
  }
}

.elixirchat-chat-scroll {
  position: fixed;
  top: $chat-header-height;
  left: 0;
  right: 0;
  bottom: 110px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px 30px 15px 30px;
  transition: transform $chat-typing-block-animation-duration;
}

.elixirchat-chat-scroll-progress-bar {
  width: 0;
  height: 1px;
  background: rgba(0,0,0,.4);
  position: fixed;
  top: $chat-header-height;
  left: 0;

  &--animating {
    width: 100%;
    transition: width 500ms;
  }
}

.elixirchat-chat-spinner {
  position: fixed;
  top: 50%;
  margin: -45px 0 0 -45px;
  left: 50%;
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  border: 1px solid $color-gray-light;
  @include elixir-animation-spinner(1s);

  &:after {
    content: '';
    background: $color-white;
    width: 5px;
    height: 30px;
    position: absolute;
    top: 50%;
    margin: -15px 0 0 0;
    left: -2px;
  }
}

.elixirchat-chat-fatal-error {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  display: block;
  padding: 0 50px;
  color: $color-gray-dark;
  line-height: 22px;
  text-align: center;

  &--nowrap {
    white-space: nowrap;
  }
}

.elixirchat-chat-draggable-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  opacity: .2;
}

.elixirchat-chat-draggable-area {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: $color-white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: lighten($color-gray-dark, 10);
  font-size: 15px;
  line-height: 21px;
}

.elixirchat-chat-draggable-area__icon {
  font-size: 16px;
  margin-bottom: 11px;
}

.elixirchat-chat-typing {
  position: absolute;
  background: $color-white;
  color: darken($color-gray-light, 5);
  left: 0;
  right: 28px;
  z-index: 3;
  font-weight: bold;
  padding: 0 30px 0 54px;
  height: $chat-typing-block-height;
  margin-bottom: -$chat-typing-block-height;
  transition: transform $chat-typing-block-animation-duration;
  opacity: 0;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    margin-top: -10px;
    height: 10px;
    background: red;
  }

  &.elixirchat-chat--is-typing-visible {
    box-shadow: 0 -5px 11px 11px $color-white;
    opacity: 1;
  }
}

.elixirchat-chat-typing__icon {
  position: absolute;
  left: 30px;
  top: 3px;
  font-size: 11px;
  color: darken($color-gray-light, 5);
  z-index: 2;
}

.elixirchat-chat--is-typing-visible {
  transform: translateY(-$chat-typing-block-height);
}
