@use "./variables" as *;
@use "./mixins" as *;
@use "./Chat" as *;
@use "sass:color";

.exlixir-chat__wrapper {
  overflow: hidden;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.elixirchat-chat-scroll {
  flex-grow: 1;
  height: 100%;
  top: $chat-header-height;
  overflow-x: hidden;
  overflow-y: auto;
}

.elixirchat-chat-header {
  box-shadow: 0 1px 0 rgba(0,0,0,.1);
  z-index: 1;
}

.elixirchat-chat-scroll-progress-bar {
  width: 0;
  height: 1px;
  background: rgba($color-black, .4);
  position: fixed;
  top: $chat-header-height;
  left: 0;

  &--animating {
    width: 100%;
    transition: width 500ms;
  }
}

.elixirchat-chat-spinner {
  position: fixed;
  top: 50%;
  margin: -45px 0 0 -45px;
  left: 50%;
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  border: 1px solid $color-gray-light;
  @include elixir-animation-spinner(1s);

  &:after {
    content: '';
    background: $color-white;
    width: 5px;
    height: 30px;
    position: absolute;
    top: 50%;
    margin: -15px 0 0 0;
    left: -2px;
  }
}

.elixirchat-chat-fatal-error {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  display: block;
  padding: 0 50px;
  color: $color-gray-dark;
  line-height: 22px;
  text-align: center;
}

.elixirchat-chat-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 30px;
  overflow: hidden;
  transition: opacity 200ms;

  &--loading {
    opacity: 0;
  }

  a {
    text-decoration: none;
    outline: none;
  }
}

.elixirchat-chat-messages__group-chat-label {
  color: $color-gray-dark;
  text-align: center;
  padding: 27px 20px 40px 20px;
  line-height: 20px;
}

.elixirchat-chat-messages__date-title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  border-bottom: 1px solid $color-black;
  line-height: 21px;
  margin-bottom: 15px;
  margin-top: 28px;
  width: 100%;
}

.elixirchat-chat-messages__item {
  width: 250px;
  margin-bottom: 15px;

  &--inner {
    max-width: 80%;
  }

  &--by-me {
    align-self: end;
  }

  &--by-operator {
    width: 80%;
  }

  &--by-another-client {
    padding-right: 20%;
  }

  &--by-operator,
  &--by-another-client {
    padding-left: 35px;
    &.elixirchat-chat-messages__item--unread {
      .elixirchat-chat-messages__inner {
        background: rgba($color-pink, .05);
      }
    }
  }
}

.elixirchat-chat-messages__inner {
  transition: background-color 2000ms;
}

.elixirchat-chat-messages__sender {
  position: relative;
  color: $color-blue;
  padding-bottom: 1px;

  .elixirchat-chat-messages__item--by-me & {
    color: $color-white;
  }

  .elixirchat-chat-messages__item--by-operator & {
    color: $color-pink !important;
  }

  b {
    font-weight: 500;
  }
}

.elixirchat-chat-messages__time {
  color: #999;
  font-size: 13px;
  font-weight: 400;
  margin-left: 6px;
}

.elixirchat-chat-messages__balloon {
  & + .elixirchat-chat-messages__balloon {
    margin-top: 10px;
  }
  .elixirchat-chat-messages__item--by-me & {
    padding: 9px 10px 7px 10px;
    border-radius: 8px;
    background: $color-blue;
    color: $color-white;
  }
}

.elixirchat-chat-messages__reply-message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  color: $color-gray-dark;
  cursor: default;
  border-left: 2px solid;
  padding: 3px 0 0 8px;
  line-height: 15px;
  margin: 2px 0 5px 0;

  .elixirchat-chat-messages__item--by-me & {
    color: rgba($color-white, .65);
    border-left-color: rgba($color-white, .5);
  }
}

.elixirchat-chat-messages__text {
  line-height: 20px;
  display: block;

  kbd {
    font: 13px/17px $font-family-text;
    background: rgba($color-black, .05);
    border: 1px solid rgba($color-black, .1);
    border-bottom-width: 2px;
    border-radius: 2px;
    padding: 1px 2px;
    display: inline-block;
    margin: 0 1px;
  }

  a {
    padding: 3px 0;
  }

  .elixirchat-chat-messages__item--by-operator & {
    a {
      color: $color-pink;
    }
  }

  .elixirchat-chat-messages__item--by-me & {
    a {
      color: $color-pink;
    }
    & + .elixirchat-chat-files {
      padding-top: 8px;
    }
  }
}

.elixirchat-chat-messages__bottom {
  display: flex;
  align-items: center;
  color: $color-gray-dark;
  padding-top: 2px;
  white-space: nowrap;

  .elixirchat-chat-messages__item--by-me & {
    text-align: right;
  }
}

.elixirchat-chat-messages__submission-error {
  color: $color-pink;
  white-space: normal;
  line-height: 17px;
  padding-top: 3px;
  display: inline-block;
}

.elixirchat-chat-messages__submission-error-link {
  color: $color-gray-dark;
  cursor: pointer;
  white-space: nowrap;
  margin-left: 10px;

  &:hover {
    color: $color-pink;
  }
}

.elixirchat-chat-messages__reply-button {
  cursor: pointer;

  &:hover {
    color: $color-pink;
  }

  .elixirchat-chat-messages__item--by-me & {
    margin-left: 0;
    margin-right: 10px;
  }
}

.elixirchat-chat-files {
  list-style: none;
  padding: 6px 0 3px 0;
  margin: 0;

  .elixirchat-chat-messages__item--by-me & {
    padding-top: 2px;
  }
}

.elixirchat-chat-files__item {
  display: flex;
  line-height: 21px;
  margin-top: 10px;
  padding: 0;
  cursor: default;

  &:first-child {
    margin-top: 0;
  }

  &:hover {
    & .elixirchat-chat-files__preview {
      background-color: #efefef;
    }

    & .elixirchat-chat-files__preview-image:after {
      box-shadow: inset 0 0 0 1px rgba($color-black, .1);
    }
  }
}

.elixirchat-chat-files__preview {
  width: 50px;
  height: 50px;
  flex-basis: 50px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #F4F4F4;
  transition: all 200ms;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: color.adjust($color-gray-dark, $lightness: 5%) !important;
}

.elixirchat-chat-files__preview-image {
  background-size: cover;

  &:after {
    content: "";
    position: absolute;
    border-radius: 3px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 1px rgba($color-black, .06);
    pointer-events: none;
    transition: all 200ms;
  }
}

.elixirchat-chat-files__preview-submitting {
  background-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elixirchat-chat-files__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 0 0 9px;
}

.elixirchat-chat-files__text-link {
  margin-left: -15px;
  padding-left: 15px;

  .elixirchat-chat-messages__item--by-me & {
    color: $color-white;
  }
}

.elixirchat-chat-files__text-secondary {
  color: rgba($color-black, .25);

  .elixirchat-chat-messages__item--by-me & {
    color: rgba($color-white, .5);
  }
}

.elixirchat-chat-messages__take-screenshot {
  background: $color-pink;
  color: $color-white;
  border: 0;
  border-radius: 4px;
  padding: 1px 11px 0 11px;
  height: 31px;
  line-height: 31px;
  margin: 6px 0 3px 0;
  transition: background-color 300ms;

  &:hover {
    background: color.adjust($color-pink, $lightness: -6%);
  }
}

.elixirchat-chat-files__preview-spinner {
  display: block;
  width: 22px;
  height: 22px;
  font-size: 22.4px;
  @include elixir-animation-spinner(1s);
}

.elixirchat-chat-previews {
  list-style: none;
  padding: 0 0 0 0;
  margin: 6px 0 2px 0;
}

.elixirchat-chat-previews__item {
  padding: 0;
  margin-top: 6px;

  &:first-child {
    margin-top: 2px;
  }

  .elixirchat-chat-messages__item--by-me & {
    text-align: right;
  }
}

.elixirchat-chat-previews__link {
  display: inline-block;
  vertical-align: bottom;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    border-radius: 3px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 1px rgba($color-black, .05);
    pointer-events: none;
  }
}

.elixirchat-chat-previews__spinner {
  color: $color-black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -11px 0 0 -11px;
  z-index: 1;
  display: block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  box-sizing: border-box;
  opacity: .25;
  font-size: 22px;
  @include elixir-animation-spinner(1s);

  .elixirchat-browser--safari & {
    padding-left: 0.06em;
  }
}

.elixirchat-chat-previews__img {
  max-width: 256px;
  max-height: 256px;
  border-radius: 3px;
  display: block;

  &--submitting {
    opacity: .25;
  }
}

.elixirchat-chat-previews__item-not-found {
  pointer-events: none;

  .elixirchat-chat-previews__item-not-found-placeholder {
    display: flex;
  }
}

.elixirchat-chat-previews__item-not-found-placeholder {
  display: none;
  color: $color-gray-dark;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $color-white;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  word-break: break-word;
}

.elixirchat-chat-typing {
  position: relative;
  margin: -29px 30px 0 30px;
  padding-left: 26px;
  background: $color-white;
  color: $color-gray-dark;
  opacity: 0;

  &--visible {
    opacity: 1;
    transform: translateY(0);
    transition: all 200ms;
  }
}

.elixirchat-chat-typing__icon {
  position: absolute;
  left: 0;
  top: 3px;
  font-size: 11px;
  color: color.adjust($color-gray-dark, $lightness: 5%);
}

.elixirchat-chat-previews__video-play {
  font: 35px/60px Arial;
  color: $color-white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 100%;
  text-indent: 5px;
  padding-top: 2px;
  box-sizing: border-box;
  background: rgba(0,0,0,.4);
  text-shadow: 0 1px 4px rgba(0,0,0,.05);
  transition: background 200ms;
  pointer-events: none;
  z-index: 2;

  .elixirchat-chat-previews__link:hover & {
    background: rgba(0,0,0,.6);
  }
}

.elixirchat-chat-previews__video-label {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  background: rgba(0,0,0,.4);
  color: $color-white;
  font-size: 12px;
  line-height: 20px;
  padding: 0 4px;
  border-radius: 2px;
  pointer-events: none;
}

// Search

$selected-color-bg: #fff2f7;

.exlixir-chat__wrapper {
  mark {
    background-color: #e5e5e5;
    transition: background-color .5s;
  }
}

.elixirchat-chat-messages__item--selected {
  animation: messageSelectAnimation 2s;
}

.elixirchat-chat-messages__item--by-me {
  mark {
    background-color: #fd9cc3;
  }

  .elixirchat-chat-messages__text {
    margin: 0;
  }
}

.elixirchat-chat-avatar {
  width: 28px;
  height: 28px;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: -35px;
}

.elixirchat-chat-avatar__empty {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3731 12.2451C8.04067 11.4614 7.47001 7.04127 10.5054 5.5244C11.4539 5.05047 12.6607 5.02109 13.5811 5.44961C15.802 6.48374 16.3914 9.29209 14.7734 11.1304C13.9547 12.0605 12.5483 12.5215 11.3731 12.2451Z' fill='%23D7D7D7'/%3E%3Cpath d='M7.06146 14.4533C7.36479 13.8666 8.78017 13.2895 10.4265 13.081C12.0578 12.8746 13.8883 12.9839 15.2382 13.3686C17.2103 13.9304 17.7187 14.6903 17.0375 16.0575C16.2941 17.5493 13.9853 18.8659 12.1058 18.8699C10.2126 18.874 7.85172 17.5174 7.15739 16.0265C6.84163 15.3485 6.81597 14.9279 7.06146 14.4533Z' fill='%23D7D7D7'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(245, 245, 245, 1);
}

.elixirchat-chat-avatar__system {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' fill='none' viewBox='0 0 28 28'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%2303f' d='M0 14C0 6.268 6.268 0 14 0s14 6.268 14 14-6.268 14-14 14S0 21.732 0 14'/%3E%3Cpath fill='%23fff' d='M16.218 22.007a.44.44 0 0 1-.333-.14l-3.042-3.093H8.106A1.61 1.61 0 0 1 6.5 17.17V9.583A1.58 1.58 0 0 1 8.084 8H19.79a1.71 1.71 0 0 1 1.71 1.709v7.503a1.56 1.56 0 0 1-1.562 1.562h-2.439a.474.474 0 0 1-.471-.471c0-.258.213-.472.471-.472h2.439a.62.62 0 0 0 .619-.618V9.708a.766.766 0 0 0-.767-.766H8.077a.64.64 0 0 0-.641.64v7.58c0 .367.302.67.67.67h5.135l3.315 3.372a.467.467 0 0 1-.007.663.48.48 0 0 1-.331.14'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h28v28H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(245, 245, 245, 1);
}


@keyframes messageSelectAnimation {
  0% {
    background-color: transparent;
  }
  10% {
    background-color: $selected-color-bg;
  }
  60% {
    background-color: $selected-color-bg;
  }
}
