.elixirchat-widget-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  border: 0;
  cursor: pointer;
  border-radius: 100%;
  background-color: #FF006E;
  box-shadow: 0 0 25px rgba(0,0,0,.15);
  outline: none;
  z-index: 999999;
  transition: background-color 200ms;
}

.elixirchat-widget-button:hover {
  background-color: #e6025f;
}

.elixirchat-widget-button:after,
.elixirchat-widget-button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 300ms;
}

.elixirchat-widget-button:after {
  background: var(--ElixirChatWidgetIconChat) no-repeat center 18px;
  background-size: 29px;
}

.elixirchat-widget-button:before {
  background: var(--ElixirChatWidgetIconClose) no-repeat center 21px;
  background-size: 20px;
}

.elixirchat-widget-button:before {
  opacity: 0;
}

.elixirchat-widget-button--visible:after {
  opacity: 0;
}

.elixirchat-widget-button--visible:before {
  opacity: 1;
}

.elixirchat-widget-button-counter {
  display: none;
  position: absolute;
  padding: 0 5px;
  min-width: 10px;
  height: 20px;
  font: 13px/20px Graphik, 'Helvetica Neue', sans-serif;
  text-align: center;
  border-radius: 100%;
  background: #FF006E;
  color: #ffffff;
  box-shadow: 0 3px 7px rgba(0,0,0,0.2);
  z-index: 2;
  right: 0;
  top: 0;
}

.elixirchat-widget-button-counter--has-unread {
  display: block;
}

.elixirchat-widget-iframe {
  border-radius: 8px;
  background: #ffffff;
  position: fixed;
  max-height: 600px;
  height: calc(100vh - 130px);
  width: 380px;
  bottom: 100px;
  right: 30px;
  border: 0;
  box-shadow: 0 0 60px rgba(0,0,0,.15);
  z-index: 999998;
  transition: all 200ms;
  opacity: 1;
  transform: none;
  transform-origin: bottom right;
  display: none;
}

.elixirchat-widget-iframe--opening {
  opacity: 0;
  transform: translateY(15px) scale(0.9);
}

.elixirchat-widget-iframe--visible {
  display: block;
}

.elixirchat-widget-image-preview {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9999999;
  background: rgba(0,0,0,.8);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 40px 50px 30px 50px;
  text-align: center;
  display: none;
}

.elixirchat-widget-image-preview--visible {
  display: block;
}

.elixirchat-widget-image-preview__inner {
  display: inline-block;
}

.elixirchat-widget-image-preview__img {
  position: relative;
  z-index: 2;
  box-shadow: 0 4px 8px rgba(0,0,0,.15);
}

.elixirchat-widget-image-preview__img--error:after {
  content: "(" attr(alt) ")";
  color: rgba(0, 0, 0, 0.2);
  display: block;
  margin: 8px 0 0 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 40px);
  text-align: center;
}

.elixirchat-widget-image-preview__img--error:before {
  content: "Файл не найден";
  color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
}

.elixirchat-widget-image-preview__img--loading {
  display: none;
}
