@import "./variables";


/*
HOW TO ADD NEW ICONS INTO THE FONT:
@see elixirchat-admin/src/styles/icons.scss
 */


[class^="icon-"], [class*=" icon-"] {
  font-family: $font-family-icons !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: "\e900";
}

.icon-close-thick:before {
  content: "\e901";
}

.icon-close-thin:before {
  content: "\e902";
}

.icon-file:before {
  content: "\e903";
}

.icon-logo:before {
  content: "\e904";
}

.icon-reply-left:before {
  content: "\e905";
}

.icon-reply-right:before {
  content: "\e906";
}

.icon-screenshot:before {
  content: "\e907";
}

.icon-spinner-lg:before {
  content: "\e908";
}

.icon-spinner-xs:before {
  content: "\e909";
}

.icon-typing:before {
  content: "\e90a";
}

.icon-speaker-mute:before {
  content: "\e90b";
}

.icon-speaker:before {
  content: "\e90c";
}

.icon-system-case-closed:before {
  content: "\e90d";
}

.icon-system-operator-assigned:before {
  content: "\e90e";
}

.icon-system-reminder:before {
  content: "\e90f";
}

.icon-system-screenshot:before {
  content: "\e910";
}

.icon-ellipsis:before {
  content: "\e911";
}

.icon-info:before {
  content: "\e912";
}

.icon-menu:before {
  content: "\e913";
}

.icon-submit:before {
  content: "\e914";
}

.icon-close-medium:before {
  content: "\e915";
}
