/*

  THIS FILE WAS GENERATED AUTOMATICALLY VIA `npm run update-icon-font`
  @see bin/update-icon-font.sh

  In order to add new icons to the elixirchat-icons font:
  1. Copy your SVG icons into widget/DefaultWidget/assets/fonts/elixirchat-icons-source
  2. Run `npm update-icon-font` in terminal (this will regenerate elixirchat-icons.woff and icons.scss)
  3. Use your new icons e.g. <i className="icon-my-new-icon"/> (for when your original SVG file was named my-new-icon.svg)

  NOTE:
  The icons are usually taken from Apple SF Symbols set:
  @see https://developer.apple.com/design/human-interface-guidelines/sf-symbols/overview/

*/


*[class^="icon-"]:before, *[class*=" icon-"]:before {
    font-family: elixirchat-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
    content: "\f101";
}
.icon-chevron-down:before {
    content: "\f102";
}
.icon-close-thick:before {
    content: "\f103";
}
.icon-close-thin:before {
    content: "\f104";
}
.icon-file:before {
    content: "\f105";
}
.icon-logo:before {
    content: "\f106";
}
.icon-reply-right:before {
    content: "\f107";
}
.icon-screenshot:before {
    content: "\f108";
}
.icon-speaker-mute:before {
    content: "\f109";
}
.icon-speaker:before {
    content: "\f10a";
}
.icon-spinner-xs:before {
    content: "\f10b";
}
.icon-typing:before {
    content: "\f10c";
}
