@import "./variables";
@import "./mixins";

.elixirchat-rating-comment-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.elixirchat-rating-comment-modal__overlay {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
}

.elixirchat-rating-comment-modal__content {
  box-sizing: border-box;
  position: relative;
  background: #fff;
  border-radius: 12px 12px 0 0;
  padding: 22px 16px 16px;
  width: 320px;
  box-shadow: 0 0 40px 0 rgba(5, 5, 5, 0.16);
  transition: all 0.3s ease;
  transform: translateY(0);
  opacity: 1;

  &--hiding {
    transform: translateY(20px);
    opacity: 0;
  }

  &--thank-you {
    height: 307px;
    padding: 26px 30px;
    text-align: center;
    animation: thankYouFadeIn 2s ease forwards;
    width: 320px;
    box-sizing: border-box;
  }
}

.elixirchat-rating-comment-modal__thank-you {
  font-size: 20px;
  font-weight: 500;
  color: #050505;
  margin-top: 45px;
}

@keyframes thankYouFadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  33% { 
    opacity: 1;
    transform: translateY(0);
  }

  66% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

@keyframes thankYouFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.elixirchat-rating-comment-modal__icon {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  pointer-events: none;

  &--heart {
    margin-bottom: 12px;
  }
}

.elixirchat-rating-comment-modal__title {
  margin: 12px auto;
  max-width: 250px;
  text-align: center;
  font-weight: 500;
  color: #050505;
}

.elixirchat-rating-comment-modal__textarea {
  width: 100%;
  min-height: 82px;
  padding: 8px 8px 8px 15px;
  border: 1px solid #D7D7D7;
  border-radius: 8px;
  font-size: 15px;
  resize: vertical;
  margin-bottom: 16px;

  &:focus {
    outline: none;
  }
}

.elixirchat-rating-comment-modal__actions {
  display: flex;
  gap: 8px;
}

.elixirchat-rating-comment-modal__button {
  color: #fff;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #03F;
  cursor: pointer;
  background-color: #03F;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  transition: all 0.2s;

  &:hover {
    background-color: #0029cc;
  }

  &--skip {
    color: #999;
    background: transparent;
    border: unset;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }
}
