@import "./variables";
@import "./mixins";

.elixirchat-chat-messages__rating {
  display: flex;
  align-items: center;
  gap: 4px;

  &::before {
    content: "·";
    margin: 0 4px 0 8px;
  }
}

.elixirchat-chat-messages__rating-label {
  font-size: 12px;
  color: $color-gray-dark;
  margin-right: 4px;
}

.elixirchat-chat-messages__rating-button {
  background: transparent;
  padding: 0;
  cursor: pointer;
  border: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  position: relative;

  i {
    font-size: 20px;
    line-height: 1;
    color: #B4B4B4;
    transition: transform 0.2s ease;
  }

  path {
    transition: 0.2s ease;
  }

  &:hover {
    i {
      color: #050505;
      transform: scale(1.2);
    }
  }

  i.icon-like-active {
    color: #00D89D;
    animation: likeAnimation 0.4s ease-out forwards;
  }

  i.icon-dislike-active {
    color: #FF533B;
  }

  &--rated {
    &:hover {
      i {
        transform: none;
      }

      .icon-dislike {
        color: #B4B4B4;
      }
    }
  }
}

@keyframes likeAnimation {
  0% {
    transform: scale(1.2) translateY(0);
  }
  33% {
    transform: scale(1.2) translateY(-6px);
  }
  66% {
    transform: scale(1.2) translateY(0);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

.elixirchat-chat-messages__rating--rated {
  i {
    font-size: 20px;
    line-height: 1;
    color: #B4B4B4;
    margin-right: 4px;
  }
}

.elixirchat-chat-messages__rating-comment {
  font-size: 12px;
  color: $color-gray-dark;
  font-style: italic;
}