/* GLOBAL */

// Bootstrap-like grid sizes
$grid-breakpoint-sm: 576px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 992px;
$grid-breakpoint-xl: 1200px;


/* CUSTOM */

$font-family-text: Graphik, 'Helvetica Neue', sans-serif;
$font-family-icons: 'elixirchat-icons';

$color-black: #151319;
$color-gray-dark: #999999;
$color-gray-light: #E2E2E2;
$color-white: #FFFFFF;
$color-blue: #0033FF;
$color-pink-dark: #FF0066;
$color-green: #50C900;
