@import "./variables";
@import "./mixins";

.elixirchat-welcome-screen-container {
  background: #FAFAFA;
  min-height: 550px;
  overflow: hidden;
}

.elixirchat-welcome-screen-close {
  color: $color-white;
  position: absolute;
  top: 17px;
  right: 15px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}

.elixirchat-welcome-screen-top {
  background: $color-blue;
  color: $color-white;
  padding: 36px 32px 125px 32px;
}

.elixirchat-welcome-screen-top__logo {
  width: 50px;
  height: 50px;
  background: {
    size: cover;
    position: center;
    repeat: no-repeat;
  };
  margin-bottom: 15px;
  border-radius: 100%;
}

.elixirchat-welcome-screen-top__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  margin: 0 0 9px 0;
}

.elixirchat-welcome-screen-top__status-online {
  background: $color-green;
  display: inline-block;
  vertical-align: baseline;
  margin-left: 3px;
  width: 9px;
  height: 9px;
  border-radius: 100%;
}

.elixirchat-welcome-screen-top__status-offline {
  @extend .elixirchat-welcome-screen-top__status-online;
  background: $color-pink;
}

.elixirchat-welcome-screen-top__status-details {
  padding-top: 2px;
}

.elixirchat-welcome-screen-operators {
  background: $color-white;
  box-shadow: 0 6px 6px -4px rgba(0,0,0,.03);
  border-radius: 3px;
  margin: -95px 20px 50px 20px;
  padding: 20px;
}

.elixirchat-welcome-screen-operators__title {
  font-weight: bold;
  margin-bottom: 15px;
}

.elixirchat-welcome-screen-operators__list {
  padding: 0;
  margin: 0 0 20px 0;
  list-style: none;
}

.elixirchat-welcome-screen-operators__item {
  display: inline-block;
  margin: 0 -8px 0 0;
  padding: 0;
  width: 40px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  border-radius: 100%;
  vertical-align: top;
  border: 2px solid $color-white;
  background: {
    color: #EDF2F3;
    size: cover;
    position: center;
    repeat: no-repeat;
  };
}

.elixirchat-welcome-screen-operators__item--avatar {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.04);
}

.elixirchat-welcome-screen-operators__button {
  height: 45px;
  line-height: 46px;
  text-align: center;
  background: $color-blue;
  color: $color-white;
  font-weight: bold;
  width: 100%;
  border: 0;
  border-radius: 4px;
  transition: background 200ms;
  cursor: pointer;

  &:hover {
    background: darken($color-blue, 10);
  }
}

.elixirchat-welcome-screen-operators__button-counter {
  background: $color-pink;
  border-radius: 21px;
  line-height: 14px;
  padding: 3px 5px 2px 5px;
  margin-left: 6px;
  display: inline-block;
  min-width: 19px;
  box-sizing: border-box;
  font-size: 13px;
}

.elixirchat-welcome-screen-channels {
  text-align: center;
}

.elixirchat-welcome-screen-channels__title {
  font-weight: bold;
  margin-bottom: 17px;
}

.elixirchat-welcome-screen-channels__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.elixirchat-welcome-screen-channels__item {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 0 0 13px;

  &:first-child {
    margin-left: 0;
  }
}

.elixirchat-welcome-screen-channels__link {
  display: block;
  width: 100%;
  height: 100%;
  background: {
    size: contain;
    position: center;
    repeat: no-repeat;
  };
  cursor: pointer;
  transition: all 200ms;

  &:hover {
    opacity: .8;
  }
}
