.elixirchat-chat-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.elixirchat-chat-messages a {
  color: #0033FF;
  text-decoration: none;
  outline: none;
}

.elixirchat-chat-messages__date-title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #151319;
  line-height: 21px;
  margin-bottom: 15px;
  width: 100%;
}

.elixirchat-chat-messages__item {
  max-width: 80%;
  min-width: 50%;
  margin-bottom: 15px;
}

.elixirchat-chat-messages__sender {
  color: #0033FF;
  font-weight: bold;
  padding-bottom: 1px;
}


.elixirchat-chat-messages__reply-to {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999999;
  margin: 2px 0 4px 0;
}

.elixirchat-chat-messages__reply-to-icon {
  display: inline-block;
  margin-right: 7px;
  width: 18px;
  height: 15px;
  opacity: .3;
  vertical-align: text-bottom;
  transition: opacity 100ms;
  background: var(--ElixirChatReplyRightIconBlack) center;
  background-size: contain;
}

.elixirchat-chat-messages__text {
  white-space: pre-wrap;
}

.elixirchat-chat-messages__timestamp {
  text-align: right;
  color: #999999;
  padding-top: 3px;
}

.elixirchat-chat-messages__item--by-me .elixirchat-chat-messages__balloon {
  padding: 9px 10px 7px 10px;
  border-radius: 3px;
  background: #0033FF;
  color: #ffffff;
}

.elixirchat-chat-messages__item--by-me .elixirchat-chat-messages__sender {
  color: #ffffff;
}

.elixirchat-chat-messages__item--by-operator {
  align-self: flex-start;
}

.elixirchat-chat-messages__item--by-operator .elixirchat-chat-messages__sender {
  color: #FF006E;
}

.elixirchat-chat-messages__item--by-operator .elixirchat-chat-messages__timestamp {
  text-align: left;
}

.elixirchat-chat-files {
  list-style: none;
  padding: 0 0 5px 0;
  margin: 0;
}

.elixirchat-chat-files__item {
  display: flex;
  line-height: 21px;
  margin-top: 10px;
  padding: 0;
  cursor: default;
}
.elixirchat-chat-files__item:hover .elixirchat-chat-files__preview {
  background-color: #efefef;
}

.elixirchat-chat-files__item:hover .elixirchat-chat-files__preview-image:after {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.elixirchat-chat-files__preview {
  width: 50px;
  height: 50px;
  flex-basis: 50px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #F4F4F4;
  transition: all 200ms;
  position: relative;
}

.elixirchat-chat-files__preview:before {
  content: "";
  background-size: contain;
  background: var(--ElixirChatChatAttachIconBlack) no-repeat center;
  width: 17px;
  height: 17px;
  opacity: 0.18;
  position: absolute;
  top: 16px;
  left: 16px;
}

.elixirchat-chat-files__preview-image {
  background-size: cover;
}

.elixirchat-chat-files__preview-image:after {
  content: "";
  position: absolute;
  border-radius: 3px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.06);
  pointer-events: none;
  transition: all 200ms;
}

.elixirchat-chat-files__preview-image:before {
  display: none;
}

.elixirchat-chat-files__preview-submitting {
  background-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elixirchat-chat-files__preview-submitting:after, .elixirchat-chat-files__preview-submitting:before {
  display: none;
}

.elixirchat-chat-files__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 0 0 9px;
}

.elixirchat-chat-files__text-link {
  margin-left: -15px;
  padding-left: 15px;
}

.elixirchat-chat-files__text-secondary {
  color: rgba(0, 0, 0, 0.25);
}

.elixirchat-chat-messages__take-screenshot {}

.elixirchat-chat-messages__take-screenshot-icon {}

@keyframes elixirchat-chat-spinner {
  to {
    transform: rotate(360deg);
  }
}

.elixirchat-chat-files__preview-spinner {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background: var(--ElixirChatSpinnerXsBlack) center no-repeat;
  background-size: contain;
  opacity: .1;
  animation: elixirchat-chat-spinner 1s linear infinite;
}

.elixirchat-chat-images {
  list-style: none;
  padding: 0 0 7px 0;
  margin: -5px 0 0 0;
}

.elixirchat-chat-images__item {
  padding: 0;
  margin-top: 10px;
}

.elixirchat-chat-images__link {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
}

.elixirchat-chat-images__link:after {
  content: "";
  position: absolute;
  border-radius: 3px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  pointer-events: none;
}

.elixirchat-chat-images__img {
  max-width: 236px;
  max-height: 236px;
  border-radius: 3px;
  display: block;
}

.elixirchat-chat-images__img-not-found {
  position: relative;
  min-width: 180px;
  pointer-events: none;
}

.elixirchat-chat-images__img-not-found:after {
  content: "(" attr(alt) ")";
  color: rgba(0, 0, 0, 0.2);
  display: block;
  margin: 8px 0 0 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 40px);
  text-align: center;
}

.elixirchat-chat-images__img-not-found:before {
  content: "Файл не найден";
  color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
}

.elixirchat-chat-messages__item--by-me .elixirchat-chat-images {
  padding: 0 0 3px 0;
}

.elixirchat-chat-messages__item--by-me .elixirchat-chat-images__link:after,
.elixirchat-chat-messages__item--by-me .elixirchat-chat-files__preview-image:after {
  display: none;
}

.elixirchat-chat-messages__item--by-me .elixirchat-chat-images__item {
  text-align: right;
}

.elixirchat-chat-messages__item--by-me .elixirchat-chat-images__img,
.elixirchat-chat-messages__item--by-me .elixirchat-chat-files__preview {
  border-radius: 2px;
}

.elixirchat-chat-messages__item--by-me .elixirchat-chat-files__text-link {
  color: #ffffff;
}

.elixirchat-chat-messages__item--by-me .elixirchat-chat-files__text-secondary {
  color: rgba(255,255,255,.5);
}
