.elixirchat-chat-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.elixirchat-chat-messages a {
  color: #0033FF;
  text-decoration: none;
  outline: none;
}

.elixirchat-chat-messages__date-title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid #151319;
  line-height: 21px;
  margin-bottom: 15px;
  width: 100%;
}

.elixirchat-chat-messages__item {
  max-width: 80%;
  min-width: 50%;
  margin-bottom: 15px;
  transition: background-color 500ms;
}

.elixirchat-chat-messages__sender {
  color: #0033FF;
  font-weight: bold;
  padding-bottom: 1px;
}

.elixirchat-chat-messages__balloon + .elixirchat-chat-messages__balloon {
  margin-top: 10px;
}

.elixirchat-chat-messages__reply-to {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999999;
  margin: 2px 0 4px 0;
  cursor: default;
}

.elixirchat-chat-messages__reply-to-icon {
  margin-right: 7px;
  opacity: .9;
  vertical-align: text-bottom;
}

.elixirchat-chat-messages__text {
  white-space: pre-wrap;
}

.elixirchat-chat-messages__text kbd {
  font: 13px/17px Graphik, 'Helvetica Neue', sans-serif;
  background: rgba(0,0,0,.05);
  border: 1px solid rgba(0,0,0,.1);
  border-bottom-width: 2px;
  border-radius: 2px;
  padding: 1px 2px;
  display: inline-block;
  margin: 0 1px;
}

.elixirchat-chat-messages__bottom {
  text-align: right;
  color: #999999;
  padding-top: 4px;
  white-space: nowrap;
}

.elixirchat-chat-messages__submission-error {
  color: #ff006e;
  cursor: pointer;
}

.elixirchat-chat-messages__reply {
  margin-left: 10px;
  cursor: default;
}

.elixirchat-chat-messages__item--by-me .elixirchat-chat-messages__reply {
  margin-left: 0;
  margin-right: 10px;
}

.elixirchat-chat-messages__item--by-me .elixirchat-chat-messages__reply-to {
  color: rgba(255,255,255,.65);
}

.elixirchat-chat-messages__item--by-me .elixirchat-chat-messages__balloon {
  padding: 9px 10px 7px 10px;
  border-radius: 3px;
  background: #0033FF;
  color: #ffffff;
}

.elixirchat-chat-messages__item--by-me .elixirchat-chat-messages__sender {
  color: #ffffff;
}

.elixirchat-chat-messages__item--by-me .elixirchat-chat-messages__text + .elixirchat-chat-files {
  padding-top: 8px;
}

.elixirchat-chat-messages__item--by-operator {
  align-self: flex-start;
}

.elixirchat-chat-messages__item--by-operator .elixirchat-chat-messages__sender {
  color: #FF006E;
}

.elixirchat-chat-messages__item--by-operator .elixirchat-chat-messages__bottom {
  text-align: left;
}

.elixirchat-chat-messages__item--highlighted {
  /*background: rgba(255, 0, 102, 0.05);*/
  /*TODO: come up w/ highlighting style*/
}

.elixirchat-chat-files {
  list-style: none;
  padding: 6px 0 3px 0;
  margin: 0;
}

.elixirchat-chat-files__item {
  display: flex;
  line-height: 21px;
  margin-top: 10px;
  padding: 0;
  cursor: default;
}

.elixirchat-chat-files__item:first-child {
  margin-top: 0;
}

.elixirchat-chat-files__item:hover .elixirchat-chat-files__preview {
  background-color: #efefef;
}

.elixirchat-chat-files__item:hover .elixirchat-chat-files__preview-image:after {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.elixirchat-chat-files__preview {
  width: 50px;
  height: 50px;
  flex-basis: 50px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #F4F4F4;
  transition: all 200ms;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a8a8a8 !important;
}

.elixirchat-chat-files__preview-image {
  background-size: cover;
}

.elixirchat-chat-files__preview-image:after {
  content: "";
  position: absolute;
  border-radius: 3px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.06);
  pointer-events: none;
  transition: all 200ms;
}

.elixirchat-chat-files__preview-submitting {
  background-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.elixirchat-chat-files__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 0 0 9px;
}

.elixirchat-chat-files__text-link {
  margin-left: -15px;
  padding-left: 15px;
}

.elixirchat-chat-files__text-secondary {
  color: rgba(0, 0, 0, 0.25);
}

.elixirchat-chat-messages__take-screenshot {
  background: #FF006E;
  color: #ffffff;
  border: 0;
  border-radius: 4px;
  padding: 1px 11px 0 11px;
  height: 31px;
  line-height: 31px;
  margin: 6px 0 3px 0;
  transition: background-color 300ms;
}

.elixirchat-chat-messages__take-screenshot:hover {
  background: #e6025f;
}

@keyframes elixirchat-chat-spinner {
  to {
    transform: rotate(360deg);
  }
}

.elixirchat-chat-files__preview-spinner {
  display: block;
  width: 22px;
  height: 22px;
  font-size: 22.4px;
  animation: elixirchat-chat-spinner 1s linear infinite;
}

.elixirchat-chat-images {
  list-style: none;
  padding: 0 0 0 0;
  margin: 6px 0 2px 0;
}

.elixirchat-chat-images__item {
  padding: 0;
  margin-top: 6px;
}

.elixirchat-chat-images__item:first-child {
  margin-top: 2px;
}

.elixirchat-chat-images__link {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
}

.elixirchat-chat-images__link:after {
  content: "";
  position: absolute;
  border-radius: 3px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  pointer-events: none;
}

.elixirchat-chat-images__img {
  max-width: 256px;
  max-height: 256px;
  border-radius: 3px;
  display: block;
}

.elixirchat-chat-images__item-not-found > img {
  position: relative;
  min-width: 180px;
  pointer-events: none;
  cursor: default;
}

.elixirchat-chat-images__item-not-found > img:after {
  content: "(" attr(alt) ")";
  color: rgba(0, 0, 0, 0.2);
  display: block;
  margin: 8px 0 0 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 40px);
  text-align: center;
}

.elixirchat-chat-images__item-not-found > img:before {
  content: attr(data-error-message);
  color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
}

.elixirchat-chat-messages__item--by-me .elixirchat-chat-images__item {
  text-align: right;
}

.elixirchat-chat-messages__item--by-me .elixirchat-chat-files {
  padding-top: 2px;
}

.elixirchat-chat-messages__item--by-me .elixirchat-chat-files__text-link {
  color: #ffffff;
}

.elixirchat-chat-messages__item--by-me .elixirchat-chat-files__text-secondary {
  color: rgba(255,255,255,.5);
}
