.elixirchat-chat-textarea {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  z-index: 3;
  box-shadow: 0 -1px 0 rgba(0,0,0,.15);
  border-radius: 0 0 8px 8px;
}

.elixirchat-chat-typing {
  position: absolute;
  background: #ffffff;
  left: 0;
  right: 0;
  bottom: 100%;
  font-weight: bold;
  color: #D5D5D5;
  padding: 0 30px 18px 54px;
  box-shadow: 0 -15px 15px 6px rgba(255,255,255,.99), inset 0 -1px 0 rgba(0,0,0,.15);
}

.elixirchat-chat-typing__icon {
  position: absolute;
  left: 30px;
  top: 3px;
  font-size: 11px;
  color: #cbcbcb;
  z-index: 2;
}

.elixirchat-chat-textarea__reply-to {
  color: #0033FF;
  margin: 18px 0 -8px 30px;
  position: relative;
  z-index: 1;
}

.elixirchat-chat-textarea__reply-to-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 139px);
}

.elixirchat-chat-textarea__reply-to-icon {
  margin-right: 4px;
  vertical-align: text-top;
}

.elixirchat-chat-textarea__reply-to-remove {
  vertical-align: text-top;
  margin-left: 6px;
  font-size: 11px;
  line-height: 6px;
}

.elixirchat-chat-textarea__actions {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  transition: transform 200ms;
}

.elixirchat-chat-textarea__actions--collapsed {
  transform: translateY(9px);
}

.elixirchat-chat-textarea__actions-screenshot,
.elixirchat-chat-textarea__actions-attach {
  width: 38px;
  height: 31px;
  border: 1px solid #D5D5D5;
  border-radius: 7px;
  position: relative;
  margin-left: 10px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  overflow: hidden;
  transition: background-color 200ms;
  background: #ffffff;
  color: rgba(0, 0, 0, 0.32);
  padding-top: 4px;
}

.elixirchat-chat-textarea__actions-attach-input {
  position: absolute;
  z-index: 1;
  opacity: 0;
}

.elixirchat-chat-textarea__actions-attach-label {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 8px;
  text-align: center;
}

.elixirchat-chat-textarea__actions-screenshot:hover,
.elixirchat-chat-textarea__actions-attach-label:hover {
  background-color: #f5f5f5;
}

.elixirchat-chat-textarea__textarea {
  border: 0;
  position: relative;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 17px 0 0 30px;
  margin-bottom: 17px;
  resize: none;
  width: calc(100% - 120px);
}

.elixirchat-chat-attachment-list {
  padding: 0;
  margin: -2px 0 15px 30px;
  list-style: none;
  line-height: 22px;
  color: #0033FF;
}

.elixirchat-chat-attachment-item {
  margin: 0;
  white-space: nowrap;
}

.elixirchat-chat-attachment-icon {
  margin-right: 8px;
  vertical-align: middle;
}

.elixirchat-chat-attachment-icon.icon-screenshot {
  font-size: 12px;
  margin-left: -1px;
}

.elixirchat-chat-attachment-filename {
  max-width: calc(100% - 165px);
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.elixirchat-chat-attachment-remove {
  font-size: 11px;
  margin-left: 7px;
  vertical-align: middle;
}
